@charset "utf-8";
html{font-size:62.5%}
body{font-size:1.4rem;font-family:'Arial','Helvetica','sans-serif','\5FAE\8F6F\96C5\9ED1';background: #f7f7f7}
body,h1,h2,h3,p{margin:0;padding:0}
li,ul{margin:0;padding:0;list-style:none}

.header{background: #629715; width: 100%; color:#fff;  text-align: center; position: relative; }
.header .titleBox{height: 50px; line-height:50px;font-size: 2rem; }
.uploadBtn .addIcon{ color: #666;}
.contentBox{ padding:1rem 0.5rem; background: #fff; width: 95%; margin:1rem auto; min-height: 500px;}
.contentBox label.labelFont{ display: block;   border-left: 4px solid #ddd;padding-left:0.5rem;margin-bottom: 1rem; }
/* .contentBox h3{ font-size: 2rem;padding:1rem; border-bottom:1px solid #ddd;} */
.uploadBtn{ border:1px solid #666; padding:2rem;  width: 7rem; height: 6rem; border-radius:5px;font-size: 2rem; text-align:center; margin:1rem 0;}
.uploadFileInput{ position:absolute; clip:rect(0 0 0 0); }
.btnBox .btn-default{ background: #629715; width: 100%; color: #fff;}
.contentBox .form-group{overflow: hidden;}
.showPhotoes{padding:0px 15px;}
.showPhotoes ul li{ float: left; width: 32%;margin:2px }
.showPhotoes ul li img{}
.myAccount{ position: absolute;right: 0.6rem; font-size: 1.4rem;top:0.6rem;border:1px solid #fff; padding: 0.4rem;border-radius: 5px;}
.myAccount .glyphicon-user{ font-size: 1.6rem; padding:0.2rem;margin:0.2rem 0.5rem 0 0;}
.dateEnd{margin-top:1rem;}
.mt1{margin-top: 1rem;}
.contentBox .form-group{ padding-bottom: 2rem; border-bottom: 1px solid #ddd;}